<?xml version="1.0"?>
<!DOCTYPE msxconfig SYSTEM "msxconfig.dtd">
<msxconfig>

<!-- 
  This file contains the settings or user preferences. 
  Use it in combination with an MSX machine configuration file.
-->

  <config id="DefaultMachine">
    <parameter name="machine">nms8250</parameter>
  </config>

 <!-- renderer settings: determines how openMSX outputs graphics -->
  <config id="renderer">
    <type>SDLHi</type>
  <!-- 
    <type>SDLGL</type> 
  -->
    <parameter name="full_screen">false</parameter>
  </config>

 <!-- Settings for the RealTime system that keeps your emulated MSX running
      in the right pace -->
  <config id="RealTime">
    <type>RealTime</type>
    <parameter name="max_catch_up_time">2000</parameter>
    <parameter name="max_catch_up_factor">105</parameter>
  </config>

 <!-- Audio mixer settings -->
  <config id="Mixer">
    <type>Mixer</type>
  <!-- Sample frequency, 22kHz should be enough for MSX -->
    <parameter name="frequency">22050</parameter>
  <!-- Use more samples when FM sound quality is bad, e.g.
    <parameter name="samples">1024</parameter>
   --> 
    <parameter name="samples">512</parameter>
  </config>

 <!-- Console font file and decorations -->
  <config id="Console">
    <type>Console</type>
    <parameter name="font">ConsoleFont.png</parameter>
    <parameter name="background">ConsoleBackground.png</parameter>
  </config>

 <!-- Commands that should be executed automatically after boot -->
  <config id="AutoCommands">
    <parameter>bind print fullscreen</parameter>
    <parameter>bind pause pause</parameter>
    <parameter>bind F9 throttle</parameter>
    <parameter>bind F10 console</parameter>
    <parameter>bind F11 mute</parameter>
    <parameter>bind F12 quit</parameter>
    <!--<parameter>bind F9    "throttle off"</parameter>
        <parameter>bind F9,up "throttle on"</parameter>-->
    <!--<parameter>unplug joyporta</parameter>
        <parameter>plug joyportb mouse</parameter>
        <parameter>plug cassetteport cassetteplayer</parameter>-->
  </config>

 <!-- Directories that are searched in, when looking for files mentioned 
      on the command line or Console -->
  <config id="UserDirectories">
    <parameter>~/openMSX/roms</parameter>
    <parameter>~/openMSX/disks</parameter>
    <parameter>~/openMSX/tapes</parameter>
  </config>
  
</msxconfig>


