Contrib/reverse_engineering_tools/kanji/autoexec.bas text eol=crlf
Contrib/reverse_engineering_tools/kanji/cktst31.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/cktst31.bcl text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst31.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst31a.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst31b.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst31c.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/BACONLDR.BIN binary
Contrib/reverse_engineering_tools/kanji/cktst31.bin binary
Contrib/reverse_engineering_tools/kanji/ktst31.dsk binary
"Contrib/reverse_engineering_tools/kanji/ktst31 [RUN'CAS-'].wav" binary
"Contrib/reverse_engineering_tools/kanji/ktst31 [RUN'CAS-'].cas" binary
