Contrib/reverse_engineering_tools/kanji/autoexec.bas text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst21.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst30.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst30a.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst30b.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst30c.asc text eol=crlf
Contrib/reverse_engineering_tools/kanji/ktst30.dsk binary
Contrib/reverse_engineering_tools/kanji/ktst30.wav binary
Contrib/reverse_engineering_tools/kanji/ktst30.cas binary
