#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# use dpatch
include /usr/share/dpatch/dpatch.make

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

config.status: configure
	dh_testdir


build: build-stamp

build-stamp: patch config.status
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) \
		INSTALL_SHARE_DIR=/usr/share/openmsx
	docbook-to-man debian/openmsx.sgml > openmsx.1

	touch build-stamp

clean: clean-patched unpatch

clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) clean
	- rm -rf derived/
	- rm -rf debian/openmsx
	- rm -f openmsx.1


	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install \
		INSTALL_BINARY_DIR=$(CURDIR)/debian/openmsx/usr/bin \
		INSTALL_SHARE_DIR=$(CURDIR)/debian/openmsx/usr/share/openmsx \
		INSTALL_DOC_DIR=$(CURDIR)/debian/openmsx/usr/share/doc/openmsx \
		SYMLINK_FOR_BINARY=false \
		OPENMSX_INSTALL=$(CURDIR)/debian/openmsx/usr
	@cp -f $(CURDIR)/debian/binary.lintian-overrides $(CURDIR)/debian/openmsx/usr/share/lintian/overrides/openmsx
	@echo "  Cleaning up the installed package..."
	@rm $(CURDIR)/debian/openmsx/usr/share/doc/openmsx/GPL
	@find $(CURDIR)/debian/openmsx/usr/share -name CVS | xargs rm -rf
	@find $(CURDIR)/debian/openmsx/usr/share/openmsx/extensions/ -name hardwareconfig.xml -exec chmod a-x {} \;
	@find $(CURDIR)/debian/openmsx -name .cvsignore |xargs rm -f




# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_installman openmsx.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
