<?xml version="1.0"?>
<!DOCTYPE msxconfig SYSTEM "msxconfig.dtd">
<msxconfig>

  <!-- Directories that are searched in, when looking for files mentioned
      on the command line or Console -->
  <UserDirectories>
    <directory>~/openMSX/roms</directory>
    <directory>~/openMSX/disks</directory>
    <directory>~/openMSX/tapes</directory>
  </UserDirectories>

  <!--
  <RomPool>
    <directory>~/openMSX/systemroms</directory>
  </RomPool>
  -->

  <!-- File extensions that should be bound to certain file types -->
  <FileTypes>
    <diskimage>dsk</diskimage>
    <diskimage>di1</diskimage>
    <diskimage>di2</diskimage>
    <diskimage>xsa</diskimage>
    <rawtapeimage>wav</rawtapeimage>
    <cassetteimage>cas</cassetteimage>
    <romimage>rom</romimage>
    <romimage>ri</romimage>
  </FileTypes>

  <!-- These are the keybindings for the keyjoystick, a pluggable that makes you
       able to use the keyboard in stead of a joystick in joystick-only soft -->
  <KeyJoystick>
    <upkey>UP</upkey>
    <rightkey>RIGHT</rightkey>
    <downkey>DOWN</downkey>
    <leftkey>LEFT</leftkey>
    <buttonakey>SPACE</buttonakey>
    <buttonbkey>M</buttonbkey>
  </KeyJoystick>

  <!-- Keymap definition file -->
  <!--
  <KeyMap>keymaps/keymap.default</KeyMap>
  -->

</msxconfig>
