<?xml version="1.0"?>
<!DOCTYPE msxconfig SYSTEM "msxconfig.dtd">
<msxconfig>

<!-- This file contains the settings or user preferences.  -->

  <!-- The machine that is loaded if no machine is specified -->
  <DefaultMachine>cbios-msx2</DefaultMachine>

  <!-- renderer settings: determines how openMSX outputs graphics -->
  <renderer>
    <type>SDLHi</type>
    <!-- <type>SDLGL</type> -->
    <full_screen>false</full_screen>
  </renderer>

  <!-- Audio mixer settings -->
  <mixer>
    <!-- Sample frequency, if you need more speed: 22kHz should be enough for 
         normal MSX, 44.1kHz is for Moonsound -->
    <frequency>44100</frequency>
    <!-- Use more samples when FM sound quality is bad,
         use less samples if the tempo is very irregular.
    -->
    <samples>1024</samples>
  </mixer>

  <RTC>
    <mode>EmuTime</mode>
  </RTC>

  <!-- Console font file, decorations and other settings -->
  <console>
    <font>skins/ConsoleFont.png</font>
    <background>skins/ConsoleBackground.png</background>
    <columns>100</columns>
    <rows>14</rows>
    <placement>bottom</placement>
    <historysize>100</historysize>
    <removedoubles>true</removedoubles>
  </console>

  <!-- Directories that are searched in, when looking for files mentioned
      on the command line or Console -->
  <UserDirectories>
    <directory>~/openMSX/roms</directory>
    <directory>~/openMSX/disks</directory>
    <directory>~/openMSX/tapes</directory>
  </UserDirectories>

  <!--
  <RomPool>
    <directory>~/openMSX/systemroms</directory>
  </RomPool>
  -->

  <!-- File extensions that should be bound to certain file types -->
  <FileTypes>
    <diskimage>dsk</diskimage>
    <diskimage>di1</diskimage>
    <diskimage>di2</diskimage>
    <diskimage>xsa</diskimage>
    <rawtapeimage>wav</rawtapeimage>
    <cassetteimage>cas</cassetteimage>
    <romimage>rom</romimage>
    <romimage>ri</romimage>
  </FileTypes>

  <!-- These are the keybindings for the keyjoystick, a pluggable that makes you
       able to use the keyboard in stead of a joystick in joystick-only soft -->
  <KeyJoystick>
    <upkey>UP</upkey>
    <rightkey>RIGHT</rightkey>
    <downkey>DOWN</downkey>
    <leftkey>LEFT</leftkey>
    <buttonakey>SPACE</buttonakey>
    <buttonbkey>M</buttonbkey>
  </KeyJoystick>

  <!-- Keymap definition file -->
  <!--
  <KeyMap>keymaps/keymap.default</KeyMap>
  -->

</msxconfig>
