<?xml version="1.0"?>
<!DOCTYPE msxconfig SYSTEM "msxconfig.dtd">
<msxconfig>

<!--
  This file contains the settings or user preferences.
-->

 <!-- The machine that is loaded if no machine is specified -->
  <config id="DefaultMachine">
    <machine>cbios-msx2</machine>
  </config>

 <!-- renderer settings: determines how openMSX outputs graphics -->
  <config id="renderer">
    <type>SDLHi</type>
  <!--
    <type>SDLGL</type>
  -->
    <full_screen>true</full_screen>
  </config>

 <!-- Audio mixer settings -->
  <config id="Mixer">
  <!-- Sample frequency, 22kHz should be enough for normal MSX, use 44.1kHz for
       Moonsound -->
    <frequency>22050</frequency>
  <!-- Use more samples when FM sound quality is bad, e.g.
    <samples>1024</samples>
   -->
    <samples>512</samples>
  </config>

  <config id="RTC">
    <mode>EmuTime</mode>
  </config>

 <!-- Console font file, decorations and other settings -->
  <config id="Console">
    <font>skins/ConsoleFont.png</font>
    <background>skins/ConsoleBackground.png</background>
    <columns>100</columns>
    <rows>14</rows>
    <placement>bottom</placement>
    <historysize>100</historysize>
    <removedoubles>true</removedoubles>
  </config>

 <!-- Directories that are searched in, when looking for files mentioned
      on the command line or Console -->
  <config id="UserDirectories">
    <directory>~/openMSX/roms</directory>
    <directory>~/openMSX/disks</directory>
    <directory>~/openMSX/tapes</directory>
  </config>

 <!-- File extensions that should be bound to certain file types -->
  <config id="FileTypes">
    <diskimage>dsk</diskimage>
    <diskimage>di1</diskimage>
    <diskimage>di2</diskimage>
    <diskimage>xsa</diskimage>
    <rawtapeimage>wav</rawtapeimage>
    <cassetteimage>cas</cassetteimage>
    <romimage>rom</romimage>
    <romimage>ri</romimage>
   </config>

<!-- These are the keybindings for the keyjoystick, a pluggable that makes you
     able to use the keyboard in stead of a joystick in joystick-only soft -->
   <config id="KeyJoystick">
     <upkey>UP</upkey>
     <rightkey>RIGHT</rightkey>
     <downkey>DOWN</downkey>
     <leftkey>LEFT</leftkey>
     <buttonakey>SPACE</buttonakey>
     <buttonbkey>M</buttonbkey>
   </config>

 <!-- Keymap definition file -->
  <config id="KeyMap">
   <!--
    <filename>keymaps/keymap.default</filename>
   -->
  </config>

</msxconfig>
