<?xml version="1.0" ?>
<!DOCTYPE msxconfig SYSTEM 'msxconfig2.dtd'>
<msxconfig>
  <info>
    <name>Musical Memory Mapper (1 MB)</name>
    <manufacturer>Popolon + Repro Factory</manufacturer>
    <code/>
    <release_year>2013</release_year>
    <description>1 MB memory mapper cartridge, with write protect and SN76489AN sound chip.</description>
    <type>RAM expansion, sound expansion</type>
  </info>
  <devices>
    <primary slot="any">
      <secondary slot="any">
        <MusicalMemoryMapper id="Musical Memory Mapper">
          <mem base="0x0000" size="0x10000"/>
          <io base="0x3C" num="1" type="O"/>
          <io base="0x3F" num="1" type="O"/>
          <size>1024</size>
          <sound>
            <volume>21000</volume>
          </sound>
        </MusicalMemoryMapper>
      </secondary>
    </primary>
  </devices>
</msxconfig>
