@import "manual.css";
p.version {
	border-top: 2px groove #60C090;
	padding-top: 1em;
}
h1 {
	border-bottom: 2px groove #60C090;
}
h2 {
	background-color: #A0FFC0;
	padding-left: 4pt;
}
h3 {
	background-color: #D0FFE0;
	padding-left: 4pt;
}
a.internal, a.external:visited {
	color: #206020;
}
a.external:link {
	color: #20B040;
}
a.external:active {
	color: #40FF80;
}
