@import "manual.css";
p.version {
	border-top: 2px groove #60C090;
}
h1 {
	border-bottom: 2px groove #60C090;
}
h2 {
	background-color: #90FFC0;
	padding-left: 4pt;
}
h3 {
	background-color: #C8FFE0;
	padding-left: 4pt;
}
h4 {
	background-color: #E8FFF0;
	padding-left: 4pt;
}
div.note {
	background-color: #E8E8E8;
}
a.internal, a.external:visited {
	color: #184830;
}
a.external:link {
	color: #30A860;
}
a.external:active {
	color: #40F080;
}
